name: Test

permissions:
  contents: write

on: [push]

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    shell: bash --noprofile --norc -CeEuo pipefail {0}

jobs:
  js-test:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-latest, macos-latest, macos-13]
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: build
        run: |
          pnpm install
      - name: install musl
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo apt install musl-dev -y
          sudo ln -s /usr/lib/x86_64-linux-musl/libc.so /lib/libc.musl-x86_64.so.1

      - name: test
        run: |
          echo "console.log('hello qjs')" >> hello.js

          cd qjs
          node ./cli/setup.js
          node ./cli/qjs.js --help
          node ./cli/qjs.js -e "console.log('hello qjs')"
          node ./cli/qjs.js hello.js
          node ./cli/qjs.js -o hello -c hello.js
          ./hello

          cd ../qjsc
          node ./cli/setup.js
          node ./cli/qjsc.js -o hello hello.js
          cat ./hello
